@media screen and (max-width: 1089px) {
  svg {
    right: 0;
    position: fixed;
    fill: #008da3;
  }

  /* when nav is open */
  #navigation:target {
    opacity: 1;
    right: 0;
  }

  /* when nav is open, the .open button will not show */
  #navigation:target .open {
    display: none;
  }

  /* when nav is open, the .close button will show */
  #navigation:target .close {
    display: block;
  }

  /* styles the navigation block */
  #navigation {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    color: white;
    font-size: 25px;
    height: 100%;
    opacity: 0;
    padding-top: 65px;
    position: fixed;
    right: -100%;
    text-transform: uppercase;
    top: 0;
    transition: 250ms;
    width: 100%;
    z-index: 3;
    font-family: "Railway", sans-serif;
    text-transform: uppercase;
  }

  #navigation li a {
    color: inherit;
    display: block;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
  }

  /* open button */
  .open {
    display: block;
    right: 0;
    top: 0;
    z-index: 1;
  }

  /* close button  */
  .close {
    z-index: 2;
    right: 0;
    top: 0;
    display: none;
  }
}

.current,
a:hover {
  color: #369bac;
}

.current {
  border-left: solid 2px #369bac;
  padding-left: 5px;
}

li a::after {
  border-bottom: solid #369bac 2px;
  content: "border";
  display: block;
  font-size: 0px;
  height: 0px;
  width: 0;
  padding-top: 7px;
  transition: 0.2s;
}

li a:hover::after {
  width: 100%;
}

@media screen and (min-width: 1090px) {
  /* anything higher than 900px shows top horizontal nav */

  svg {
    display: none;
  }

  nav {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: "Railway", sans-serif;
    text-transform: uppercase;
  }

  #navigation {
    position: fixed;
    z-index: 1;
    background-color: #e3e9f5;
    color: #242e2d;
    top: 0;
    padding-bottom: 5px;
  }

  header li {
    list-style: none;
    display: inline-block;
    margin: 1.5% 4% 0.5% 4%;
    font-weight: bold;
  }

  li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  .borderRight {
    border-right: solid rgba(0, 0, 0, 0.3) 2px;
    padding-right: 5%;
  }
}
