// ==================
// utility
// ==================

@mixin center {
  margin: 0 auto;
}

// ==================
// ::after
// ==================

@mixin bar_bottom {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
}

@mixin bar_bottom--blue {
  border-bottom: solid $border_blue 2px;
}

@mixin bar_bottom--grey {
  border-bottom: solid $border_grey 2px;
}

@mixin bar_bottom--very-light-grey {
  border-bottom: solid $border_very-light-grey 2px;
}

@mixin bar_bottom--closed {
  height: 0px;
  width: 0;
}

@mixin bar_bottom--opened {
  width: 100%;
}

// ==================
// nav
// ==================
@mixin nav_item_current {
  border-left: solid 2px $border_blue;
  color: $nav_link_current;
  padding-left: 5px;
}

// ==================
// hero
// ==================

@mixin hero_setup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  width: 100%;
}

// ==================
// text
// ==================

@mixin h1_text {
  color: $title_light-grey;
  font-family: $title-font;
  font-size: 25px;
}

@mixin h2_text {
  color: $title_dark-grey;
  font-family: $title-font;
  font-size: 35px;
}

@mixin h3_text {
  color: $dark-blue;
  font-family: $title-font;
  font-size: 35px;
}

@mixin body_text {
  color: $body_dark-grey;
  font-family: $body-font;
  font-size: 20px;
  line-height: 40px;
}

// ==================
// buttons
// ==================

@mixin button_dark-grey--add {
  color: $title_light-grey;
  background-color: $button_dark-grey;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

@mixin button_dark-blue--add {
  color: $white;
  background-color: $button_dark-blue;
  border: solid 1px $dark-blue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

@mixin button--remove {
  color: $title_dark-grey;
  background-color: initial;
  box-shadow: initial;
  border-radius: initial;
}
