// ==================
// media queries
// ==================
$desktop: 1100px;

// ==================
// colors
// ==================

$clear: rgba(0, 0, 0, 0);

$black_heavy-opacity: rgba(0, 0, 0, 0.2);

$black_very-light-opacity: rgba(0, 0, 0, 0.9);

$light-grey: rgb(228, 227, 227);

$grey: rgb(128, 128, 128);

$dark-grey: rgb(34, 34, 34);

$very-light-grey: rgba(176, 196, 222, 0.6);

$blue: rgb(62, 179, 199);

$dark-blue: rgb(0, 141, 163);

$white: rgb(255, 255, 255);

$very-light-steelblue: rgb(227, 233, 245);

$very-light_steelblue_heavy-opacity: rgba(176, 196, 222, 0.4);

// usage
// ==================

// text
$title_light-grey: $light-grey;

$title_dark-blue: $dark-blue;

$h1-background: linear-gradient($clear, $black_very-light_opacity);

$title_dark-grey: $dark-grey;

$body_light-grey: $light-grey;

$body_dark-grey: $dark-grey;

// nav
$nav_background_mobile: $black_very-light-opacity;

$nav_background_desktop: $dark-grey;

$nav_link_hover: $blue;

$nav_link_current: $blue;

$nav_text_color: $light-grey;

// footer
$footer_background: $dark-grey;

$footer_text_color: $light-grey;

$footer_link_hover: $blue;

// borders
$border_blue: $blue;

$border_grey: $grey;

$border_dark-grey: $dark-grey;

$border_very-light-grey: $very-light-grey;

// buttons

$button_dark-grey: $dark-grey;

$button_blue: $blue;

$button_dark-blue: $dark-blue;

// ==================
// fonts
// ==================
$sans-serif: "Railway", sans-serif;

$serif: "Crimson Text", serif;

// usage
// ==================

// text
$title-font: $serif;

$body-font: $sans-serif;

// nav
$nav_font: $sans-serif;
