/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.nav {
  background-color: rgba(0, 0, 0, 0.9);
  color: #e4e3e3;
  font-family: "Railway", sans-serif;
  font-size: 25px;
  height: 100%;
  opacity: 0;
  padding-top: 65px;
  position: fixed;
  right: -100%;
  text-transform: uppercase;
  top: 0;
  transition: 250ms;
  width: 100%;
  z-index: 7;
}
.nav__list__item {
  display: block;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
}
.nav__list__item--current {
  border-left: solid 2px #3eb3c7;
  color: #3eb3c7;
  padding-left: 5px;
}
.nav__list__item::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid gray 2px;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 30%;
  min-width: 234px;
}

.nav-mobile-hotcakes-icon {
  right: 0;
  position: fixed;
  fill: #3eb3c7;
}

.nav-mobile-hotcakes-icon--open {
  display: block;
  right: 0;
  top: 0;
  z-index: 5;
}

.nav-mobile-hotcakes-icon--close {
  display: none;
  right: 0;
  top: 0;
  z-index: 10;
}

.nav:target .nav-mobile-hotcakes-icon--open {
  display: none;
}

.nav:target .nav-mobile-hotcakes-icon--close {
  display: block;
}

.nav:target {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 1100px) {
  .nav-mobile-hotcakes-icon {
    display: none;
  }

  .nav {
    background-color: #222222;
    height: 60px;
    opacity: 1;
    padding-top: 0px;
    right: 0;
  }
  .nav__list {
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    max-width: 1100px;
  }
  .nav__list__item {
    margin-bottom: 0px;
    font-size: 15px;
    padding: 0 5px;
  }
  .nav__list__item:hover {
    color: #3eb3c7;
  }
  .nav__list__item::after {
    content: "";
    display: block;
    padding-top: 7px;
    transition: 0.2s;
    border-bottom: solid #3eb3c7 2px;
    height: 0px;
    width: 0;
    margin-top: 0px;
    max-width: 100%;
    min-width: 0px;
  }
  .nav__list__item:hover::after {
    width: 100%;
  }
}
.content__title {
  color: #222222;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  text-align: center;
  margin-top: 60px;
}
.content__title::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
}
.content__body {
  margin: 0 auto;
  margin-top: 40px;
  width: 70%;
}

.content__left__body {
  color: #222222;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
}

.content__right__list {
  text-align: center;
  width: 100%;
}
.content__right__list__item-title {
  margin: 0 auto;
  color: #222222;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #e4e3e3;
  background-color: #222222;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: inline-block;
  margin: 15px auto;
  padding: 10px 30px;
  text-transform: uppercase;
  width: 200px;
}
.content__right__list__item-body {
  display: none;
}

@media screen and (min-width: 1100px) {
  .main__wrapper {
    display: flex;
  }
  .main__wrapper .content {
    flex: 1;
  }
  .main__wrapper .content__body {
    width: 90%;
  }

  .content__right__list {
    text-align: left;
    position: relative;
    margin-left: 50px;
  }
  .content__right__list__item-title {
    color: #222222;
    background-color: initial;
    box-shadow: initial;
    border-radius: initial;
    text-align: left;
    margin: 0;
    padding: 7px 30px;
  }
  .content__right__list__item-title:hover {
    color: #3eb3c7;
  }
  .content__right__list__item-title::after {
    content: "";
    display: block;
    padding-top: 7px;
    transition: 0.2s;
    border-bottom: solid #3eb3c7 2px;
    height: 0px;
    width: 0;
  }
  .content__right__list__item-title:hover::after {
    content: "";
    display: block;
    padding-top: 7px;
    transition: 0.2s;
    border-bottom: solid #3eb3c7 2px;
    width: 100%;
  }
  .content__right__list__item-body {
    color: #222222;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    line-height: 40px;
    line-height: initial;
    position: absolute;
    display: block;
    opacity: 0;
    right: 0;
    top: 130px;
    width: 50%;
  }
  .content__right__list__item-title:hover + .content__right__list__item-body {
    right: -10px;
    opacity: 1;
    transition: 0.7s;
  }
}
.biography {
  text-align: center;
}
.biography__title {
  color: #222222;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
}
.biography__title::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 20px 0;
}
.biography__subtitle {
  color: #008da3;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}
.biography__body {
  color: #222222;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: justify;
  width: 80%;
}

@media screen and (min-width: 1100px) {
  .biography__title::after {
    margin: 50px 0;
  }
}
.resume {
  padding: 30px 30px 0px 30px;
}
.resume__title {
  font-family: "Crimson Text", serif;
  font-size: 50px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.resume__section__title {
  color: #008da3;
  font-family: "Crimson Text", serif;
  font-size: 25px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.resume__section__subtitle {
  color: #222222;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  padding-bottom: 30px;
}
.resume__section__job {
  color: #008da3;
  font-family: "Crimson Text", serif;
  font-size: 35px;
  padding-bottom: 30px;
}
.resume__section__time {
  font-size: 15px;
  font-family: "Railway", sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.resume__section__list {
  font-family: "Railway", sans-serif;
  line-height: 25px;
  list-style: initial;
  margin-left: 10%;
}
.resume__section__list__item {
  margin: 25px 0;
}
.resume__section--skills__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  max-width: 500px;
}
.resume__section::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 30px auto;
  width: 80%;
}

@media screen and (min-width: 1100px) {
  .resume {
    padding-top: 80px;
  }
  .resume__section::after {
    margin-left: 0px;
  }
}
.projects {
  padding: 30px 30px 0px 30px;
  text-align: center;
}
.projects__title {
  font-family: "Crimson Text", serif;
  font-size: 50px;
  text-transform: uppercase;
}
.projects__desc {
  font-family: "Railway", sans-serif;
  margin-top: 20px;
}
.projects__section__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.projects__section__wrapper__title {
  font-family: "Railway", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  width: 230px;
}
.projects__section__wrapper__button {
  color: white;
  background-color: #008da3;
  border: solid 1px #008da3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 15px;
  transition: 0.2s;
  margin: 15px 0;
  text-transform: uppercase;
  width: 150px;
}
.projects__section__wrapper__button:hover {
  background-color: white;
  color: #008da3;
  border-radius: 5px;
}
.projects__section__subtitle {
  font-family: "Railway", sans-serif;
  font-size: 30px;
  color: #008da3;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
}
.projects__section__items-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
  width: 100%;
}
.projects__section__items-wrapper__item--github {
  background: url(../pictures/GitHubMark.png), #e3e9f5;
}
.projects__section__items-wrapper__item--codepen {
  background: url(../pictures/codepenLogo.png) #e3e9f5;
  background-size: 50%;
}
.projects__section__items-wrapper__item {
  background-position: center 10px;
  background-repeat: no-repeat;
  border: solid 2px #e3e9f5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: white;
  height: 150px;
  margin: 0 10px 60px 10px;
  padding: 10px;
  transition: 0.2s;
  width: 230px;
}
.projects__section__items-wrapper__item__link {
  color: #222222;
  display: block;
  font-family: "Railway", sans-serif;
  padding-top: 150px;
  text-transform: capitalize;
}
.projects__section__items-wrapper__item:hover {
  background-color: white;
  border-radius: 5px;
}
.projects__section::before {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 20px auto;
  width: 80%;
}

@media screen and (min-width: 1100px) {
  .projects {
    padding-top: 80px;
  }
}
.gallery {
  padding-top: 50px;
}
.gallery__title {
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
}
.gallery__title::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 30px auto;
}
.gallery__subtitle {
  color: #008da3;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  text-align: center;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.gallery__container__item {
  background-color: #e3e9f5;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 50px 30px;
  max-width: 248px;
  overflow: hidden;
}
.gallery__container__item__img {
  height: 330px;
}
.gallery__container__item__caption {
  color: #222222;
  font-family: "Railway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 15px 15px;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .gallery {
    padding-top: 80px;
  }
  .gallery__container__item {
    margin: 50px 50px;
  }
}
.contact {
  padding-top: 50px;
}
.contact__title {
  margin: 0 auto;
  color: #222222;
  font-family: "Crimson Text", serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
}
.contact__title::after {
  content: "";
  display: block;
  padding-top: 7px;
  transition: 0.2s;
  border-bottom: solid rgba(176, 196, 222, 0.6) 2px;
  margin: 30px auto;
}
.contact__container__title {
  color: #222222;
  font-family: "Railway", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contact__container__form {
  background-color: #e3e9f5;
  padding: 30px 0;
  text-align: center;
}
.contact__container__form__input {
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 8%;
  opacity: 0.8;
  padding: 5px;
  transition: 0.2s;
  width: 70%;
}
.contact__container__form__input::placeholder {
  color: #222222;
  font-size: 15px;
}
.contact__container__form__label {
  display: block;
  font-size: 20px;
  margin: 15px 15px 10px 78px;
  text-align: left;
}
.contact__container__form__submit {
  color: white;
  background-color: #008da3;
  border: solid 1px #008da3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0 auto 20px auto;
  display: block;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 20px;
}
.contact__container__form__submit:hover {
  background-color: white;
  color: #008da3;
  border-radius: 5px;
}
.contact__email-section {
  margin: 0 auto;
  text-align: center;
  color: #222222;
  font-family: "Railway", sans-serif;
  width: 80%;
}
.contact__email-section__title {
  font-size: 20px;
  margin-top: 40px;
}
.contact__email-section__body {
  margin-top: 20px;
}

.error {
  border: solid 2px #e8492d;
}

@media screen and (min-width: 1100px) {
  .contact {
    padding-top: 80px;
  }
  .contact__container {
    margin: 0 auto;
    max-width: 50%;
  }
  .contact__container__form__label {
    font-size: 25px;
  }
}
.footer {
  background-color: #222222;
  color: #e4e3e3;
  margin-top: 100px;
}
.footer__nav {
  margin: 0 auto;
  font-family: "Railway", sans-serif;
  margin-left: 30px;
  max-width: 1100px;
  padding: 30px 0px;
}
.footer__nav__item {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 35px 0;
  padding: 5px;
  text-transform: uppercase;
}

@media screen and (min-width: 1100px) {
  .footer__nav {
    margin-left: auto;
  }
  .footer__nav__item::after {
    content: "";
    display: block;
    padding-top: 7px;
    transition: 0.2s;
    border-bottom: solid #3eb3c7 2px;
    height: 0px;
    width: 0;
  }
  .footer__nav__item:hover {
    color: #3eb3c7;
  }
  .footer__nav__item:hover::after {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 0 auto;
  max-width: 900px;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero__title {
  color: #e4e3e3;
  font-family: "Crimson Text", serif;
  font-size: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  height: 45px;
  width: 100%;
}

.hero--index {
  background-image: url(../pictures/hero-background.jpg);
}

.hero--biography {
  background-image: url(../pictures/bioHero.jpeg);
  background-position: bottom;
}

@media screen and (min-width: 1100px) {
  .hero {
    height: 750px;
    margin-top: 50px;
  }
  .hero__title {
    font-size: 50px;
    height: 70px;
  }
}
.main {
  max-width: 1100px;
}

/*# sourceMappingURL=styles.css.map */
